.divA {
    background-color: #17c3ee;
    width: 800px;
    height: 300px;
}

.divB {
    background-color: #fcff57;
    width: 80%;
    height: 20%;
}

.paragrafo {
    color: #fff; background-color: #eb0aff;
    font-size: 12px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 700;
}

.divC{
    width: 80%; 
    height: 10vw;
    background-color: rgb(3, 3, 82);
}

.divD{
    width: 15VW;
    height: 90%; 
    background-color: rgb(229, 255, 0);
}